/* nav > ul > li  {
    display: inline;
    margin-right: 40px;
}
nav > ul > li > a{
    text-decoration: none;
}
footer{
    margin-bottom: auto;
    text-align: center;
}
image{
    width: 100%;
    
} */

/* li {
    display: inline;
    margin: 24px;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

footer{
    text-align: center;
    margin-bottom: 24px;

} */
*{
    margin-bottom: 8px;
}
li{
    display: inline;
}

a{
    text-decoration: none;
    margin: 24px;
}
footer{
    text-align: center;
    margin-bottom: auto;
}
img{
    width: 100%;
}

label{
    display: block;
    margin: 8px;
}

table{
    border-collapse: collapse;
    
}
td,th{
    border: solid black;
    padding: 4px 8px;
}